@charset "UTF-8";
body{
	background-color:#252525;
	color:#D5D5D5;
}
#bigbox{
	margin: 0 auto;
	width:1200px;
	height:1100px;
	position:relative;
}
a{
	text-decoration: none;
	color:#D5D5D5;
	text-align:center;
}


#top_box{
	height:100px;
	position:relative;
}
#search_box{
	width:350px;
	height:40px;
	position:relative;
	background:#D5D5D5;;
	float:right;
	bottom:-30px;
}
#login_box{
	position:relative;
	float:right;		
}
#search_box input{
	padding:10px;
	border:2px #202020;
	outline:none;
	float:left;
	width:300px;
	font-size:13pt;
	background:#202020;
}
#search_box button{
	height:100%;
	border:0px #202020;
	outline:none;
	width:50px;
	font-size:13pt;
	background:#202020;
	color:#d5d5d5;
}
#movie{
	height:350px;
	position:relative;
}
#movie_img{	
	width:40%;
	height:400px;	
	float: left; 
}
#detail_img{
	width:235px;
	top:0px;
	left:200px;
	position:relative;	
}
#movie_detail{	
	width:50%;
	height:320px;
	padding-left:30px;
	float: right; 
	padding-top:50px;
}
#streaming{
	height:350px;
	position:relative;	
}
#bottom_box{
	height:300px;
	position:relative;
	margin-left:0px;
}
.q1{
	margin:0;
	padding-left:50px;
	position:relative;	
}
.q2{
	width:190px;
	float: left; 
	padding:0px;
	list-style:none;
}
li{
	width:182px;
}
.img_list{
	width:150px;
	height:225px;
}
.left_bt{
	left:0px; top:133px;
	position:absolute;
	width:0px;
	height:0px;
	border-top:25px solid transparent;
	border-right:22px solid #D5D5D5;
	border-left:7px solid transparent;
	border-bottom:25px solid transparent;
}
.right_bt{
	right:0px; top:133px;
	position:absolute;
	width:0px;
	height:0px;
	border-top:25px solid transparent;
	border-right:7px solid transparent;
	border-left:22px solid #D5D5D5;
	border-bottom:25px solid transparent;
}
.st_site{
	width:50px;
	height:50px;
}
.list_box{
	height:330px;	
	position:relative;
}

#site_list{
	
}
#site_div{
	width:400px;
	height:100px;
	
	float:right;
}
#in{
	width:500px;
	height:300px;
	float:left;	
	position:absolute;
	left:50px;
	padding:20px 0px 0px 20px;
}
#in_hi{
	width:480px;
	height:270px;
background-color:#303030;

}
