html {
    font-family: 'Nanum Gothic', 'Malgun Gothic', Roboto, Arial, sans-serif;
    letter-spacing: 0.015em;
    background-color: #252525;
    color: #d5d5d5;
}
a {
    text-decoration: none;
    color: #d5d5d5;
}
#wrap {
    width: 700px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.info {
    display: flex;
}
.display {
    width: 200px;
    height: 120px;
    padding: 10px;
}
.left-list-area {
    width: 250px;
}
.list-area {
    width: 100%;
    text-align: center;
}
.edit-link {
    padding: 10px;
    background-color: #24a6bd;
    border-radius: 5px;
}
.modify-area {
    width: 110px;
}
.content-header {
    width: 200px;
    margin: 50px auto;
    font-size: 25px;
}
.my-info-list {
    list-style: none;
    margin: 0;
    padding: 0;
}